header {
  display: flex;

}


h2 {
  border:2px solid grey;
  width: 33%;
  text-align: center;
}

.nav {
list-style: none;
display: flex;
justify-content: flex-end;
  }

  li {
border:2px solid grey;
width: 17%;
margin:10px;
text-align: center;
  }

  .content{
display: flex;

}

  .aside {
    border:2px solid grey;
    width: 33%;
  }

  .slidebox{
    border:2px solid grey;
    margin-bottom: 40px;
    text-align: center;
   
  }

  .article{
    display: flex;
    border:2px solid grey;
    width: 66%;
  }


.poem{
  border:2px solid grey;

}


/*Device = Tablets, Ipads (portrait)
  Screen = B/w 600px to 990px*/
  @media (min-width:600px) and (max-width: 990px)  {
    .article {
display: flex;
flex-direction: column;
  } 
header{
display: none;
}
}

/*  Small devices    */
@media (max-width:599px) {

header,.content{
 display: none;
}

.nav {
display: flex;
justify-content: space-around;
flex-direction: column;

  }


.nav > li {
list-style: none;
border:2px solid grey;
text-align: center;
margin-top: 60px;
margin-bottom: 60px;
margin-right: 40px;
width: 90%;
}


}


  
